body{
    background-color:#f4f4f4;
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.highlight{
    color: hsl(60, 100%, 50%);
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background-color: #143d59;
    color: white;
    padding: 10px;
}
header a{
    color: white;
    font-size: 20px;
}
.heading{
 
    font-family: 'Playfair Display', serif;
}
li{
    display: inline;
    padding:0 20px;
    
}
#cooler{
    float: left;
}
h1{
    margin:0;
}   
 nav{
    float: right;
    margin-top:10px ;
    
}

.important a{
    color: hsl(60, 100%, 50%);
    font-weight: bold;
}
.important a:hover{
    color: white;
    font-weight: bold;

}
#Hero{
    background-image: url("https://itxitpro.com/front/img/web-development-services.jpg");
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#Hero h1{
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 70px;
    font-family: 'Abril Fatface', cursive;
}
#Hero h2{
    margin-top: 0;
    font-size: 70px;
    font-family: 'Abril Fatface', cursive;
}
#buttter{
    padding: 20px;
    background-color: #143d59;
}
#images{
    margin-top: 50px;
}
.box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#images .container h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#images .container p{
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
}
#slogan .container h3{
    font-weight: bold;
    font-size: 60px;
    color: green;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}
#slogan .container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-family:'Lobster Two', cursive ;
    font-weight: bold;
}
#forms .container h4{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: 50px;
    color:black;
}

#forms form {
    background-color:bisque;
    margin-left: 20%;
    margin-right: 20%;
  
}
.form{
    padding: 20px;
}
#forms .form label{
    color: #F4B41A;
     font-weight: bold;
    font-size: 20px;
    display: block;
}
#video .container h4{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: green;
    margin-top: 70px;
    margin-bottom: 50px;
}

#video .container iframe
{
    margin-top: 25px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
footer{
    padding:20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #143d59;
    text-align: center;
}
.container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-family:'Lobster Two', cursive ;
    font-weight: bold;
}
#know-more{
    display: none;
}
#name-validation{
    color: red;
    font-size: 14px;
    display: none;
}
#batch-validation{
    color: red;
    font-size: 14px;
    display: none;
}
#email-validation{
    color: red;
    font-size: 14px;
    display: none;
}
.center{
    text-align: center;
}